
.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7)), url("../assets/greecenavbar.jpg");
    background-size: 120px;
    height: 60px;
    font-size: 20px;
    font-family: 'Luckiest Guy', cursive;
}

.toolbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.main-nav-active {
    color: tomato;
}

.spacer {
    flex: 1;
}

.toolbar_logo a {
    color: red;
    text-decoration: none;
    front-size: 1.5rem;
}

.toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items li {
    padding: 0 0.5rem;
}


.toolbar_navigation-items :hover {
    color: black !important;
}

.main-nav-active {
    color: green;
}
