
.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("../assets/greecenavbar.jpg"); */
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
    background-size: 120px;
    height: 60px;
    font-size: 20px;
    font-family: 'Luckiest Guy', cursive;
}

.toolbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
    padding-left: 140px;
    padding-right: 140px;
}

.spacer {
    flex: 1;
}

.toolbar_logo a {
    color: rgba(0,0,0, 0.0);
    text-decoration: none;
    font-size: 40px;
    background-image: url("../assets/Santorini.png");
    background-size: cover;
}

.toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items li a {
    padding: 0 0.5rem;
    color: white;
}


.toolbar_navigation-items :hover {
    color: tomato !important;
}

.main-nav-active {
    color: red !important;
}
