.player-name-gameplay-god{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.player-box-gameplay-god-out {
    margin-top: 10px;
    margin-left: 66.8px;
    position: absolute;
    width: 140px
}
.hermes-Button{
    width: 140px !important;
    margin-top: 10px !important;
}

.useGodCard-Button{
    margin-top: 10px !important;
    width: 150px !important;
}

.button-extras{
    width: 100px !important;
}

.godActivation-div{
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
}


.use-margin-5px{
    margin-top:5px;
    margin-bottom:0px;
}

.break-box{
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.use-margin-10px{
    margin-top:5px;
    margin-bottom:0px;
}

#invisible{
    display: none;
}

.invisible{
    display: none;
}

.button-red {
    background-color: red !important;
}

.button-blue {
    background-color: blue !important;
}

.button-pink {
    background-color: deeppink !important;
}

.button-yellow {
    background-color: yellow !important;
    color: black !important;
}