.mainHorizontally{
    display: flex;
    justify-content: space-evenly;
}
.left{
    float: left;
    width: 20%;
    color: white;
}

.right{
    float: right;
    width: 20%;
    color: white;
}


.playField{
    width: 500px;
    position: relative;
}

.white {
    background-color: #fff;
}

.black {
    background-color: #999;
}

.box {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    display: table-cell;
}

#border{
    border: solid green 5px;
}

#level1{
    border-radius: 50px;
    border: 8px solid black;
    width: 90px;
    height: 90px;
    margin:auto;
    text-align: center;
    font-size: x-large;
}

#level2{
    border-radius: 50px;
    border: 13px solid black;
    width: 80px;
    height: 80px;
    margin:auto;
    text-align: center;
    font-size: x-large;;
}


#level3{
    border-radius: 50px;
    border: 20px solid black;
    width: 70px;
    height: 70px;
    text-align: center;
    margin:auto;
    font-size: x-large;
}

.message-div {
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
}

.playField-row{
    width: 500px;
}

.fixedPixels-div {
    height: 768px;
    width: 1366px;
    border: 1px solid black;
    margin: auto;
}

.player1-div-lvl-1{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 11px;
    z-index: 10;
    border: 10px solid blue;
    border-radius: 50px;
    background-color: blue;
}


.player1-div-lvl-2{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 2px;
    z-index: 10;
    border: 10px solid blue;
    border-radius: 50px;
    background-color: blue;
}

.player1-div-lvl-3{
    height: 50px;
    width: 50px;
    margin-left: -10px;
    margin-top: -10px;
    z-index: 10;
    border: 10px solid blue;
    border-radius: 50px;
    background-color: blue;
}

.text{
    text-align: center;
    padding-top: 25%;
}

.text1{
    text-align: center;
    padding-top: 25%;
}

.text2{
    text-align: center;
    padding-top: 18%;
}

.text3{
    text-align: center;
    padding-top: 0px;
}