.mainHorizontally{
    display: flex;
    justify-content: space-evenly;
}
.left{
    float: left;
    width: 20%;
}

.right{
    float: right;
    width: 20%;
}


.playField{
    display: flex;
    align-items:center;
    align-content: center;
}

.white {
    background-color: #fff;
}

.black {
    background-color: #999;
}

li {
    width: 8vw;
    height: 8vw;
    transition: 50ms ease-out;
    animation: scaleIt 5s infinite;
    font-size: x-large;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    padding-top: 25%;
    vertical-align:middle;
}