.mainHorizontally{
    display: flex;
    justify-content: space-evenly;
}
.left{
    float: left;
    width: 20%;
}

.right{
    float: right;
    width: 20%;
}


.playField{
    width: 500px;
    position: relative;

}

.white {
    background-color: #fff;
}

.black {
    background-color: #999;
}

.box {
    width: 100px;
    height: 100px;
    display: table-cell;

}

#level1{
    border-radius: 50px;
    border: 8px solid black;
    width: 90px;
    height: 90px;
    font-size: x-large;
    text-align: center;
    padding-top: 25%;

}

#level2{
    border-radius: 50px;
    border: 14px solid black;
    width: 80px;
    height: 80px;
    text-align: center;
    align-content: space-evenly;
    display: grid;
    font-size: x-large;
    padding-top: 25%;
}

#level3{
    border-radius: 50px;
    border: 20px solid black;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: x-large;
    padding-top: 25%;
}

.message-div {
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
}

.fixedPixels-div {
    height: 768px;
    width: 1366px;
    border: 1px solid black;
    margin: auto;
}

.player1-div{
    height: 50px;
    width: 50px;
    border: 10px solid blue;
    border-radius: 50px;
    background-color: blue;
}