.player-div-lvl-0-BLUE{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 0px;
    z-index: 10;
    border: 10px solid blue;
    border-radius: 50px;
    background-color: blue;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);

}

.player-div-lvl-0-active-BLUE{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 0px;
    z-index: 10;
    border: 10px solid blue;
    border-radius: 50px;
    background-color: blue;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    outline: 3px dashed blue;
    outline-offset: 20px;
}


.player-div-lvl-1-BLUE{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 11px;
    z-index: 10;
    border: 10px solid blue;
    border-radius: 50px;
    background-color: blue;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.player-div-lvl-1-active-BLUE{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 11px;
    z-index: 10;
    border: 10px solid blue;
    border-radius: 50px;
    background-color: blue;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    outline: 3px dashed blue;
    outline-offset: 20px;
}


.player-div-lvl-2-BLUE{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 2px;
    z-index: 10;
    border: 10px solid blue;
    border-radius: 50px;
    background-color: blue;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}


.player-div-lvl-2-active-BLUE{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 2px;
    z-index: 10;
    border: 10px solid blue;
    border-radius: 50px;
    background-color: blue;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    outline: 3px dashed blue;
    outline-offset: 20px;
}

.player-div-lvl-3-BLUE{
    height: 50px;
    width: 50px;
    margin-left: -10px;
    margin-top: -10px;
    z-index: 10;
    border: 10px solid blue;
    border-radius: 50px;
    background-color: blue;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);

}

.player-div-lvl-3-active-BLUE{
    height: 50px;
    width: 50px;
    margin-left: -10px;
    margin-top: -10px;
    z-index: 10;
    border: 10px solid blue;
    border-radius: 50px;
    background-color: blue;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    outline: 3px dashed blue;
    outline-offset: 20px;

}

.player-div-lvl-0-YELLOW{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 0px;
    z-index: 10;
    border: 10px solid yellow;
    border-radius: 50px;
    background-color: yellow;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.player-div-lvl-0-active-YELLOW{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 0px;
    z-index: 10;
    border: 10px solid yellow;
    border-radius: 50px;
    background-color: yellow;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    outline: 3px dashed yellow;
    outline-offset: 20px;
}

.player-div-lvl-1-YELLOW{
     height: 50px;
     width: 50px;
     margin: auto;
     margin-top: 11px;
     z-index: 10;
     border: 10px solid yellow;
     border-radius: 50px;
     background-color: yellow;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.player-div-lvl-1-active-YELLOW{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 11px;
    z-index: 10;
    border: 10px solid yellow;
    border-radius: 50px;
    background-color: yellow;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    outline: 3px dashed yellow;
    outline-offset: 20px;
}


.player-div-lvl-2-YELLOW{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 2px;
    z-index: 10;
    border: 10px solid yellow;
    border-radius: 50px;
    background-color: yellow;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.player-div-lvl-2-active-YELLOW{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 2px;
    z-index: 10;
    border: 10px solid yellow;
    border-radius: 50px;
    background-color: yellow;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    outline: 3px dashed yellow;
    outline-offset: 20px;
}

.player-div-lvl-3-YELLOW{
    height: 50px;
    width: 50px;
    margin-left: -10px;
    margin-top: -10px;
    z-index: 10;
    border: 10px solid yellow;
    border-radius: 50px;
    background-color: yellow;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.player-div-lvl-3-active-YELLOW{
    height: 50px;
    width: 50px;
    margin-left: -10px;
    margin-top: -10px;
    z-index: 10;
    border: 10px solid yellow;
    border-radius: 50px;
    background-color: yellow;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    outline: 3px dashed yellow;
    outline-offset: 20px;

}

.player-div-lvl-0-PINK{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 0px;
    z-index: 10;
    border: 10px solid deeppink;
    border-radius: 50px;
    background-color: deeppink;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.player-div-lvl-0-active-PINK{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 0px;
    z-index: 10;
    border: 10px solid deeppink;
    border-radius: 50px;
    background-color: deeppink;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    outline: 3px dashed deeppink;
    outline-offset: 20px;
}

.player-div-lvl-1-PINK{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 11px;
    z-index: 10;
    border: 10px solid deeppink;
    border-radius: 50px;
    background-color: deeppink;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.player-div-lvl-1-active-PINK{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 11px;
    z-index: 10;
    border: 10px solid deeppink;
    border-radius: 50px;
    background-color: deeppink;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    outline: 3px dashed deeppink;
    outline-offset: 20px;
}


.player-div-lvl-2-PINK{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 2px;
    z-index: 10;
    border: 10px solid deeppink;
    border-radius: 50px;
    background-color: deeppink;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.player-div-lvl-2-active-PINK{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 2px;
    z-index: 10;
    border: 10px solid deeppink;
    border-radius: 50px;
    background-color: deeppink;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    outline: 3px dashed deeppink;
    outline-offset: 20px;
}

.player-div-lvl-3-PINK {
    height: 50px;
    width: 50px;
    margin-left: -10px;
    margin-top: -10px;
    z-index: 10;
    border: 10px solid deeppink;
    border-radius: 50px;
    background-color: deeppink;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.player-div-lvl-3-active-PINK{
    height: 50px;
    width: 50px;
    margin-left: -10px;
    margin-top: -10px;
    z-index: 10;
    border: 10px solid deeppink;
    border-radius: 50px;
    background-color: deeppink;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    outline: 3px dashed deeppink;
    outline-offset: 20px;

}

.player-div-lvl-0-RED{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 0px;
    z-index: 10;
    border: 10px solid red;
    border-radius: 50px;
    background-color: red;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.player-div-lvl-0-active-RED{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 0px;
    z-index: 10;
    border: 10px solid red;
    border-radius: 50px;
    background-color: red;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    outline: 3px dashed red;
    outline-offset: 20px;
}

.player-div-lvl-1-RED{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 11px;
    z-index: 10;
    border: 10px solid red;
    border-radius: 50px;
    background-color: red;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.player-div-lvl-1-active-RED{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 11px;
    z-index: 10;
    border: 10px solid red;
    border-radius: 50px;
    background-color: red;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    outline: 3px dashed red;
    outline-offset: 20px;
}

.player-div-lvl-2-active-RED{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 2px;
    z-index: 10;
    border: 10px solid red;
    border-radius: 50px;
    background-color: red;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    outline: 3px dashed red;
    outline-offset: 20px;
}


.player-div-lvl-2-RED{
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 2px;
    z-index: 10;
    border: 10px solid red;
    border-radius: 50px;
    background-color: red;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.player-div-lvl-3-RED{
    height: 50px;
    width: 50px;
    margin-left: -10px;
    margin-top: -10px;
    z-index: 10;
    border: 10px solid red;
    border-radius: 50px;
    background-color: red;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.player-div-lvl-3-active-RED{
    height: 50px;
    width: 50px;
    margin-left: -10px;
    margin-top: -10px;
    z-index: 10;
    border: 10px solid red;
    border-radius: 50px;
    background-color: red;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    outline: 3px dashed red;
    outline-offset: 20px;
}