.player-box-div{
    float: left;
    width: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 25px;
    text-align: center;
}

.active-pink{
    float: left;
    width: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 25px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px deeppink;
}

.active-red{
    float: left;
    width: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 25px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px red;

}

.active-blue{
    float: left;
    width: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 25px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px blue;

}

.active-yellow{
    float: left;
    width: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 25px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px yellow;

}

.left-god{
    float: left;
    width: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 25px;
    text-align: center;
    margin-top: -80px;
    margin-bottom: -80px;
}

.left-god-active-pink{
    float: left;
    width: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 25px;
    text-align: center;
    margin-top: -80px;
    margin-bottom: -80px;
    box-shadow: 5px 5px 5px 5px deeppink;
}

.left-god-active-red{
    float: left;
    width: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 25px;
    text-align: center;
    margin-top: -80px;
    margin-bottom: -80px;
    box-shadow: 5px 5px 5px 5px red;
}

.left-god-active-blue{
    float: left;
    width: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 25px;
    text-align: center;
    margin-top: -80px;
    margin-bottom: -80px;
    box-shadow: 5px 5px 5px 5px blue;
}

.left-god-active-yellow{
    float: left;
    width: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 25px;
    text-align: center;
    margin-top: -80px;
    margin-bottom: -80px;
    box-shadow: 5px 5px 5px 5px yellow;
}

.right{
    float: right;
    width: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 25px;
    text-align: center;

}

.right-god{
    float: right;
    width: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 25px;
    text-align: center;
    margin-top: -80px;
    margin-bottom: -80px;
}

.right-god-active-blue{
    float: right;
    width: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 25px;
    text-align: center;
    margin-top: -80px;
    margin-bottom: -80px;
    box-shadow: 5px 5px 5px 5px blue;
}

.right-god-active-red{
    float: right;
    width: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 25px;
    text-align: center;
    margin-top: -80px;
    margin-bottom: -80px;
    box-shadow: 5px 5px 5px 5px red;
}

.right-god-active-pink{
    float: right;
    width: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 25px;
    text-align: center;
    margin-top: -80px;
    margin-bottom: -80px;
    box-shadow: 5px 5px 5px 5px deeppink;
}

.right-god-active-yellow{
    float: right;
    width: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 25px;
    text-align: center;
    margin-top: -80px;
    margin-bottom: -80px;
    box-shadow: 5px 5px 5px 5px yellow;
}


.circle_blue-gameplay {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: blue;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.circle_yellow-gameplay {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: yellow;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.circle_red-gameplay {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;}


.circle_pink-gameplay {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: deeppink;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.player-box-gameplay{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

