.left{
    float: left;
    width: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 25px;
    text-align: center;
}

.left-god{
    float: left;
    width: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 25px;
    text-align: center;
    margin-top: -80px;
    margin-bottom: -80px;
}

.right{
    float: right;
    width: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 25px;
    text-align: center;

}

.right-god{
    float: right;
    width: 20%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    border-radius: 25px;
    text-align: center;
    margin-top: -80px;
    margin-bottom: -80px;

}

.circle_blue-gameplay {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: blue;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.circle_yellow-gameplay {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: yellow;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.circle_red-gameplay {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;}


.circle_pink-gameplay {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: deeppink;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.player-box-gameplay{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.player-name-gameplay-god{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.player-box-gameplay-god-out {
    margin-left: 66.8px;
    position: absolute;
    bottom: 120px;
    width: 140px
}
.player-box-gameplay-god-out button{
    width: 140px;
}

.godActivation-div{
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
}

.godActivation-div button{
    width: 80px;
}

.use-margin-5px{
    margin-top:5px;
    margin-bottom:0px;
}

.break-box{
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.use-margin-10px{
    margin-top:5px;
    margin-bottom:0px;
}

#invisible{
    display: none;
}