/*  this css style sheet provides the styling for the player boxes in the lobby */

.lobby-overview-div{
    margin-top: 100px;
}

.lobby-overview-h1{
    color: black;
}


.flexBox {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.Lobby-div {
}

.first-box {
    width: 420px;
    background: darkgray;
    height: 350px;
    border-radius: 25px;
    justify-content: center;
    text-align: center;
}

.second-box {
    width: 420px;
    height: 350px;
    background: darkgrey;
    border-radius: 25px;
    justify-content: center;
    text-align: center;
}

.first-box p {
    color: floralwhite;
    padding-top: 80px;
    font-family: fantasy;
    font-size: 25px;
    text-align: center;
}

.second-box p {
    color: floralwhite;
    padding-top: 80px;
    font-family: fantasy;
    font-size: 25px;
    text-align: center;
}


.player-box p {
    color: floralwhite;
    padding-top: 20px;
    font-family: fantasy;
    font-size: 25px;
    text-align: left;
    margin-left: 10px;
}

.margin-top {
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 50px;
    font-size: 50px;
}

.rightButtons {
    margin-top: 35px;
}

.notReady {
    font-size: 60px;
    text-align: center;
    margin-top: -50px;
    color:red;
}

.ready {
    font-size: 60px;
    text-align: center;
    margin-top: -50px;
    color: green;
}